<?php if ($this->shouldTrack()){ ?>
    <script type="text/javascript" src="<?php echo $this->getQueueUrl() ?>"></script>
    <script>
        if (typeof ra !== 'undefined') {
            ra('init', ['<?php echo $this->getApiKey() ?>']);
            ra('product', [{
                sku: '<?php echo Mage::registry('current_product')->getSku() ?>'
            }]);
            <?php if ($this->shouldTrackEmail()){ ?>
            ra('email');
            <?php } ?>
        }
    </script>
<?php } ?>