<?php
    $result = Mage::helper('recapture/transport')->dispatchWithLongTimeout('reviews/page-text');
    $pageText = @json_decode($result->getBody());
?>

<div class="review-container">
    <h2 class="title"><a href="<?php echo Mage::getBaseUrl() ?>"><img src="<?php echo $this->getSkinUrl(Mage::getStoreConfig('design/header/logo_src')) ?>" /></a></h2>
    <div class="success-inner">
        <h2><?php echo $pageText->success_title ?></h2>
        <p style="font-size: 14px; margin-bottom: 40px;"><?php echo $pageText->success_body ?></p>
        <p><a class="button" href="<?php echo Mage::getBaseUrl() ?>"><span><span><?php echo $pageText->success_submit ?></span></span></a></p>
    </div>
</div>