<?php
    $order = $this->getOrder();
    $items = $this->getOrderItems();
    $name = $order->getCustomerFirstname();   
    $logo = Mage::getStoreConfig('design/header/logo_src');
    $result = Mage::helper('recapture/transport')->dispatchWithLongTimeout('reviews/page-text');
    $pageText = @json_decode($result->getBody());
    $pageTitle = str_replace('{{ name }}', $name, $pageText->page_title);
    $date = date('l, F j', strtotime($order->getCreatedAt()));
    $pageBody = str_replace('{{ date }}', $date, $pageText->page_body);
    $displayedProducts = array();
?>
<div class="review-container">
    <h2 class="title"><a href="<?php echo Mage::getBaseUrl() ?>"><img src="<?php echo $this->getSkinUrl($logo) ?>" /></a></h2>
    <div class="review-inner">
        <?php if (count($items)){ ?>
        <?php if (!empty($name)){ ?><h2><?php echo $pageTitle ?></h2><?php } ?>
        <p style="font-size: 14px;"><?php echo $pageBody ?></p>
            <form onsubmit="return validateReviewForm()" action="<?php echo $this->getActionUrl() ?>" method="post" id="review-form" class="review-form">
                <?php foreach ($items as $item){ ?>
                    <?php
                        $product = Mage::getModel('catalog/product')->load($item->getProductId());

                        // find parent for simple
                        $product_id = $item->getProductId();
                        $parentIds = Mage::getModel('catalog/product_type_grouped')->getParentIdsByChild($product_id);
                        if (!$parentIds) {
                            $parentIds = Mage::getModel('catalog/product_type_configurable')->getParentIdsByChild($product_id);
                        }
                        if (isset($parentIds[0])) {
                            $product_id = $parentIds[0];
                            $product = Mage::getModel('catalog/product')->load($product_id);
                        }

                        // only show this item once
                        if (in_array($product_id, $displayedProducts)) {
                            continue;
                        }

                        $displayedProducts[] = $product_id;

                        $product_collection = Mage::getModel('catalog/product')->getCollection()
                            ->addAttributeToFilter('entity_id', $product_id)
                            ->addUrlRewrite();

                        $product_url = $product_collection->getFirstItem()->getProductUrl();
                    ?>
                    <fieldset class="review-item">
                        <input type="hidden" class="skip" name="items[<?php echo $product->getId() ?>][skip]" value="0" />
                        <p class="title">
                            <?php echo str_replace('{{ product_name }}', '<strong>'.$this->htmlEscape($product->getName()).'</strong>', $pageText->review_title) ?>
                            <a href="javascript:;" class="opt-out" data-hide="<?php echo $pageText->review_nothanks ?>" data-show="<?php echo $pageText->review_showform ?>">
                                <?php echo $pageText->review_nothanks ?>
                            </a>
                        </p>
                        <div class="pure-g product-review-form">
                            <div class="pure-u-1-3">
                                <img src="<?php echo $this->helper('catalog/image')->init($product, 'image')->resize(175) ?>" />
                            </div>
                            <div class="product-review pure-u-2-3">
                                <?php if( $this->getRatings() && $this->getRatings()->getSize()): ?>
                                    <div class="ratings">
                                        <?php foreach ($this->getRatings() as $_rating): ?>
                                            <div class="rating">
                                                <span><?php echo $this->escapeHtml($_rating->getRatingCode()) ?>:</span>
                                                <div class="stars">
                                                <?php foreach ($_rating->getOptions() as $_option): ?>
                                                    <a class="star" href="javascript:;" data-id="rating_<?php echo $product->getId() ?>_<?php echo $_rating->getId() ?>" data-val="<?php echo $_option->getId() ?>"></a>
                                                <?php endforeach; ?>
                                                <input class="rating_value" type="hidden" id="rating_<?php echo $product->getId() ?>_<?php echo $_rating->getId() ?>" name="items[<?php echo $product->getId() ?>][ratings][<?php echo $_rating->getId() ?>]" value="" />
                                                </div>
                                            </div>
                                        <?php endforeach; ?>
                                    </div>
                                <?php endif; ?>
                                <ul class="form-list">
                                    <li>
                                        <div class="input-box">
                                            <input type="hidden" name="items[<?php echo $product->getId() ?>][nickname]" value="<?php echo $order->getCustomerFirstname() ?>" />
                                            <input type="hidden" name="items[<?php echo $product->getId() ?>][store_id]" value="<?php echo $product->getStoreId() ?>" />
                                            <input type="hidden" name="items[<?php echo $product->getId() ?>][name]" value="<?php echo $product->getName() ?>" />
                                            <input type="hidden" name="items[<?php echo $product->getId() ?>][sku]" value="<?php echo $product->getSku() ?>" />
                                            <input type="hidden" name="items[<?php echo $product->getId() ?>][product_url]" value="<?php echo $product_url ?>" />
                                            <label class="hide" for="summary_field_<?php echo $product->getId() ?>"><?php echo $pageText->review_title_label ?></label>
                                            <input type="text" name="items[<?php echo $product->getId() ?>][title]" id="summary_field_<?php echo $product->getId() ?>" class="input-text required-entry summary-field" placeholder="<?php echo $pageText->review_title_placeholer ?>" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="input-box">
                                            <label class="hide" for="review_field_<?php echo $product->getId() ?>"><?php echo $pageText->review_content_label ?></label>
                                            <textarea name="items[<?php echo $product->getId() ?>][detail]" id="review_field_<?php echo $product->getId() ?>" cols="3" rows="3" class="required-entry review-field" placeholder="<?php echo $pageText->review_content_placeholder ?>"></textarea>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>  
                    </fieldset>
                <?php } ?>
                <div class="buttons-set">
                    <button type="submit" title="<?php echo $pageText->review_submit ?>" class="button">
                        <span><span><?php echo $pageText->review_submit ?></span></span>
                    </button>
                </div>
            </form>
        <?php } else { ?>
            <p class="no-products"><?php echo $pageText->review_no_products ?></p>
        <?php } ?>
    </div>
</div>