/********************** Reminder View ************************/

.review-container {
    padding-top: 40px;
}
.review-container h2.title {
    text-align: center;
    margin-bottom: 30px;
}
.review-container .title img {
    display: inline;
}
.review-container .review-inner {
    max-width: 600px;
    margin: 0 auto;
}
.review-container .success-inner {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
.review-container .review-inner > h2 {
    margin-bottom: 20px;
}
.review-container .review-inner > p {
    margin-bottom: 12px;
}

.review-container .review-item .title {
    margin-bottom: 30px;
    font-size: 16px;
}
.review-container .review-item .opt-out {
    float: right;
    margin-top: 3px;
}

.product-review .title {
	font-size: 18px;
	color: #666666;
}
.product-review .title strong {
	color: #000;
}
.review-form fieldset {
	margin-bottom: 35px;
    border-top: 1px solid #EEE;
    padding-top: 35px;
	position: relative;
}
.review-form fieldset.invis {

}
.review-form fieldset.invis .product-image {
	display: none;
}
.review-form fieldset.invis .product-review {
	width: 100%;
}
.review-form fieldset.invis .product-review .ratings {
	display: none;
}
.review-form fieldset.invis .product-review .form-list {
	display: none;
}
.review-form fieldset.invis .product-review .title {
	margin-bottom: 0;
}
.review-form fieldset .product-image {
	text-align: center;
}
.review-form fieldset .product-review {
}
.review-form fieldset .opt-out {
	font-size: 12px;
}
.review-form fieldset .ratings {
	margin-bottom: 15px;
}
.review-form fieldset .ratings .rating {
	overflow: hidden;
	border: 1px solid transparent;
	padding: 2px;
}
.ratings span {
	font-size: 12px;
	color: #000;
	float: left;
    text-transform: uppercase;
	margin-top: 1px;
}
.ratings .stars {
	float: left;
	margin-left: 7px;
}
.ratings .stars .star {
	background: url(../images/star.png) no-repeat;
	width: 16px;
	height: 16px;
	float: left;
	padding-right: 4px;
}
.ratings .stars .star.hover, .ratings .stars .star.active {
	background-position: 0 -16px;
}
.ratings .stars .star.active.active-hold {
	background-position: 0 0;
}
.form-list .input-box {
	width: 100%;
}
.form-list input.input-text, .form-list textarea {
    width: 100%;
    border: 1px solid #CCC;
    border-radius: 2px;
    padding: 5px;
}
.form-list textarea {
	height: 100px;
    max-width: 100%;
}
ul.form-list .guidelines {
	margin-top: 5px;
}
ul.form-list .guidelines li {
	margin-left: 5px;
	margin-bottom: 2px;
	font-size: 10px;
}
.buttons-set {
  text-align: right;
  margin: 0;
  padding: 15px;
}

.validation-failed {
    background-color: #FFF7F7 !important;
}

/********************** Reminder Complete ************************/

.discount-codes li {
	float: left;
	padding: 5px 18px;
	border: 2px dashed #CCC;
	font-size: 20px;
	font-weight: bold;
	margin-right: 8px;
	background: #EFEFEF;
	border-radius: 4px;
}
p.small {
	font-size: 11px;
	font-style: italic;
}

@media (max-width: 590px) {
    .review-form fieldset .product-image {
        width: 100%;
    }
    .review-form fieldset .product-review {
        width: 100%;
    }
    
}